body {
    background: #212121;
    font-family: cursive;
}

.title {
    color: aliceblue;
    text-align: center;
    margin-top: 18px;
}

.clock-container {
    font-size: 4em;
    text-align: center;
    margin: 200px auto 0;
    color: aliceblue;

}

.clock-container span {
    padding: 20px;
    background: #5dda03;
    border-radius: 10px;
}